@import "tailwindcss";

@theme {
  --breakpoint-2xl: 120rem;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

.headings {
  font-family: "Lora", serif;
}

@media (prefers-reduced-motion: no-preference) {
  [class*=aos-] {
    opacity: 0;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
  }
}
.aos-fade {
  animation-name: aosFade;
}

@keyframes aosFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.aos-fade-up {
  animation-name: aosFadeUp;
}

@keyframes aosFadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#cookie-toggle:not(:checked) ~ #cookie-consent {
  display: none;
}

.header__nav--prev {
  background-image: url("../Assets/Prev-Button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__nav--next {
  background-image: url("../Assets/next-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#slide-1:checked ~ .header__slider .header__slide--phone {
  opacity: 1;
  pointer-events: auto;
}

#slide-2:checked ~ .header__slider .header__slide--address {
  opacity: 1;
  pointer-events: auto;
}

.header__slide {
  pointer-events: none;
}

#slide-1:checked ~ .header__nav--group-1 { display: block; }
#slide-1:checked ~ .header__nav--group-2 { display: none; }

#slide-2:checked ~ .header__nav--group-2 { display: block; }
#slide-2:checked ~ .header__nav--group-1 { display: none; }


@media (min-width: 768px) {
  .header__nav {
    display: none !important;
  }

  #tab-seating:checked ~ .flex .products__tab[for="tab-seating"],
  #tab-table:checked ~ .flex .products__tab[for="tab-table"],
  #tab-storage:checked ~ .flex .products__tab[for="tab-storage"],
  #tab-lighting:checked ~ .flex .products__tab[for="tab-lighting"],
  #tab-decor:checked ~ .flex .products__tab[for="tab-decor"] {
    text-underline-offset: 6px;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.products__grid {
  display: none;
}

#tab-seating:checked ~ .flex .products__tab[for="tab-seating"],
#tab-table:checked ~ .flex .products__tab[for="tab-table"],
#tab-storage:checked ~ .flex .products__tab[for="tab-storage"],
#tab-lighting:checked ~ .flex .products__tab[for="tab-lighting"],
#tab-decor:checked ~ .flex .products__tab[for="tab-decor"] {
  text-decoration: underline;
  font-weight: 500;
  text-underline-offset: 5px;
}

#tab-seating:checked ~ .products__grid--seating,
#tab-table:checked ~ .products__grid--table,
#tab-storage:checked ~ .products__grid--storage,
#tab-lighting:checked ~ .products__grid--lighting,
#tab-decor:checked ~ .products__grid--decor {
  display: grid;
}

#products input[type=radio] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scrollText {
  animation: scrollText 10s linear infinite;
}

.contact-us__form-field:has(input:required) label::after {
  content: " *";
  color: #000;
}

.faqs__mark::before,
.faqs__mark::after {
  content: "";
  position: absolute;
  background: #000;
  transition: transform 0.3s ease;
}

.faqs__mark::before {
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  transform: translateY(-50%);
}

.faqs__mark::after {
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  transform: translateX(-50%) rotate(0deg);
}

input[type=radio]:checked + .faqs__item .faqs__answer {
  max-height: 500px;
  opacity: 1;
  margin-top: 17px;
}

@media (min-width: 768px) {
  input[type=radio]:checked + .faqs__item .faqs__answer {
    margin-top: 18px;
  }
}

input[type=radio]:checked + .faqs__item .faqs__mark::after {
  transform: translateX(-50%) rotate(90deg);
}

#discount-toggle:checked ~ #popup-discount {
  display: flex;
}

#success-toggle:checked ~ #popup-success {
  display: flex;
}

#error-toggle:checked ~ #popup-error {
  display: flex;
}