@media (max-width: 365px) {
    .sale-block-text h3 {
        font-size: 46px;
        line-height: 46px;
    }
}

@media (min-width: 492px) {
    .tabs {
        justify-content: center;
    }

    .inspiration-heading-container {
        width: 80%;
    }

    .contact-container {
        margin: 0 14%;
    }

    .footer .footer-container {
        margin-top: 50px;
    }

    .email-container {
        width: 465px;
    }

    .email-title {
        font-size: 32px;
        line-height: 42px;
        text-align: center;
    }

    .email-content {
        text-align: center;
    }

    .media {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright span {
        text-align: left;
    }

    span.underline {
        text-decoration: underline;
    }
}

@media (min-width: 768px) {
    .top_header {
        font-size: 14px;
        padding: 5px 20px;
        justify-content: center;
        gap: 60px;
        height: auto;
    }

    .slider-btn {
        display: none;
    }

    .slider-track {
        width: 100%;
        justify-content: space-between;
        transition: none;
    }

    .slide {
        flex: 0 1 auto;
        justify-content: flex-start;
    }

    .slider-track .number {
        text-align: left;
    }

    .slider-track .address {
        text-align: right;
        min-width: 240px;
    }

    /* hero_banner */

    .hero_banner {
        height: 680px;
    }

    .hero-slogan {
        font-size: 58px;
    }

    .hero-content {
        top: auto;
    }

    .hero-content .hero-description {
        max-width: 352px;
    }

    /* Product Tabs */

    .product-grid.active {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 29.4px;
        column-gap: 10px;
        justify-items: center;
    }

    .product-box {
        max-width: 700px;
    }

    .product-box.tall {
        gap: 1.43%;
    }

    .product-box:nth-child(1),
    .product-box:nth-child(3) {
        justify-self: end;
    }

    .product-box:nth-child(2),
    .product-box:nth-child(4) {
        justify-self: start;
    }

    .wide .product-image {
        aspect-ratio: calc(700 / 460);
    }

    .tall .product-image {
        aspect-ratio: calc(345 / 460);
    }

    /* .product-image {
        height: 459.98px;
    } */

    .inspiration-heading-container {
        width: 60%;
    }

    .single_banner {
        height: 349px;
        margin-top: 100px;
    }

    .single_banner::after {
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }

    .banner-title {
        margin: 0;
        width: 100%;
        padding: 0;
        line-height: 64px;
        font-size: 56px;
        line-height: 80px;
        letter-spacing: 0px;
    }

    .banner-content {
        top: 53%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    /* service */
    /* .service-info {
        margin-left: 14px;
        gap: 4px;
    } */

    .sale-block {
        width: 29.78%;
    }

    .sale-block-container {
        justify-content: space-between;
    }

    .sale-block-text h3 {
        font-size: 26px;
        line-height: 32px;
        height: 25%;
        max-width: 120px;
    }

    .our-service-container {
        justify-content: space-evenly;
    }

    .our-service-box {
        width: 21.8%;
        min-width: 300px;
        height: 184px;
        box-sizing: border-box;
    }

    .service-image img {
        width: 72px;
        height: 72px;
    }

    .service-heading {
        font-size: 20px;
        line-height: 32px;
    }

    .service_info_content {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 1024px) {
    .slider-track .address {
        min-width: 300px;
    }

    /* hero_banner */

    .hero_banner {
        height: 820px;
    }

    .hero-img {
        width: 100%;
        height: 1200px;
        object-position: center;
    }

    .hero-slogan {
        font-size: 68px;
    }

    .hero-content .hero-description {
        margin: 0px 40.84px;
    }

    /* Product Tabs */
    .product-grid-container {
        width: 73.438%;
    }

    .product_grid_tabs {
        margin-top: 5.2%;
    }

    .product-grid-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 40px;
        max-width: 1410px;
        gap: 0px;
    }

    .section-title {
        font-size: 36px;
        line-height: 48px;
        width: auto;
        flex: 0 0 50%;
        text-align: left;
    }

    .tabs {
        font-weight: 500;
        justify-content: flex-end;
        width: 21.7%;
        padding: 0;
        margin: 0;
        gap: 6%;
        overflow-x: visible;
        overflow-y: visible;
        flex: 0 0 50%;
    }

    .tag.sale {
        padding: 11px 8.6px;
    }

    .sale-block-text h3 {
        height: 40%;
        font-size: 32px;
        line-height: 32px;
        max-width: 150px;
    }

    .our-service-box {
        flex-direction: column;
        min-width: 400px;
    }
    .our-service-container {
        justify-content: space-evenly;
        gap: 10px
    }

    .contact-shop {
        aspect-ratio: 120 / 47;
        max-height: 752px;
    }

    .contact-all {
        width: 100%;
        align-items: center;
    }

    .contact-container {
        flex-direction: row;
        gap: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 1410px;
        margin: auto auto;
        max-height: 260px;
    }

    .contact-content-container1 {
        width: 30%;
        height: 34.575%;
        margin: 0;
    }

    .contact-content-container2 {
        width: 40%;
        height: 34.575%;
        justify-content: space-between;
        gap: 8px;
    }

    .contact-content-container3 {
        width: 30%;
        height: 34.575%;
        margin: 0;
    }

    .contact-content-container1-img-1 img {
        width: 45.33%;
        top: -50px;
        left: -5%;
    }

    .contact-content-container1-img-2 img {
        width: 65.33%;
        top: -185px;
        left: 20%;
    }

    .contact-content-container1-img-3 img {
        width: 55.33%;
        bottom: -48px;
        left: 45.6%;
    }

    .contact-content-container3-img-1 img {
        width: 62.33%;
        top: -164px;
        right: -31.7%;
    }

    .contact-content-container3-img-2 img {
        width: 57.33%;
        bottom: -40px;
        right: -7%;
    }
}

@media (min-width: 1400px) {
    .hero_banner {
        height: 1080px;
        max-height: 1200px;
    }

    .hero-content {
        margin-top: 25px;
    }

    .hero-slogan {
        font-size: 72px;
        line-height: 90px;
    }

    .description-div {
        margin: 25px 0px 32px 0px;;
    }

    .hero-content .hero-description {
        line-height: 30px;
    }

    /* Product Tabs */


    /* Product Splide */

    .heading-container {
        margin: 5px 0px 50px 0px;
    }

    .heading-container h2 {
        font-weight: 400;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
    }

    .product-slider-splide {
        --slide-max-width: 345px;
        --slide-ratio: 345 / 460;
    }

    /* Carousel */
    .carousel-container {
        height: 248px;
        overflow: hidden;
        margin-top: 22px;
    }

    .carousel-content {
        font-size: 74px;
        font-weight: 400;
        white-space: nowrap;
        gap: 48px;
        line-height: 90px;
    }

    /* Sale Block */
    .sale-block-container {
        margin-top: 1.5px;
    }

    .sale-block-text {
        padding: 0px;
    }

    .sale-block-text h3 {
        font-size: 52px;
        line-height: 64px;
        height: 55%;
        max-width: 220px;
    }

    /* inspiration */
    .inspiration-container {
        gap: 62px;
        margin-top: 80px;
    }

    .inspiration-heading-container {
        width: 40%;
    }

    .inspiration-heading-first {
        font-size: 36px;
        line-height: 48px;
        text-align: center;
    }

    .inspiration-content {
        text-align: left;
        gap: 5.8%;
        justify-content: center;
    }

    .inspiration-block {
        width: 20.64%;
        flex: 0 0 20.64%;
        max-width: 291px;
    }

    .inspiration-heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        margin: 16px 0px 8px 0px;
    }

    .inspiration-info-content {
        font-size: 16px;
        line-height: 24px;
    }

    .our-service {
        margin: 80px 0;
    }

    .service-info {
        gap: 12px;
    }

    .our-service-box {
        min-width: 184px;
        gap: 20px;
    }
    .our-service-container {
        justify-content: space-between;
    }

    .contact-content-container1-img-1 img {
        top: -80px;
        left: -9%;
    }

    .contact-content-container1-img-2 img {
        top: -264px;
        left: 20%;
    }

    .contact-content-container1-img-3 img {
        bottom: -48px;
        left: 45.6%;
    }

    .contact-content-container3-img-1 img {
        top: -224px;
        right: -31.7%;
    }

    .contact-content-container3-img-2 img {
        bottom: -22px;
        right: -7%;
    }
}

@media (min-width: 1700px) {
    /* contact */
    div.contact-content-container2-content {
        width: 29.342%;
    }

    .contact-content-container2 h2{
        width: 67.378%;
    }

    .contact-content-container1-img-1 img {
        width: 45%;
        top: -84px;
        left: -9%;
    }

    .contact-content-container1-img-2 img {
        width: 77.5%;
        top: -324px;
        left: 7%;
    }

    .contact-content-container1-img-3 img {
        width: 55%;
        bottom: -80px;
        left: 43.6%;
    }

    .contact-content-container3-img-1 img {
        width: 82.5%;
        top: -304px;
        right: -31.7%;
    }

    .contact-content-container3-img-2 img {
        width: 62.5%;
        bottom: -31px;
        right: -7%;
    }
}

@media (min-width: 1800px) {
    .sale-block-text h3 {
        font-size: 56px;
        line-height: 80px;
        height: 144px;
        max-width: 240px;
    }

    .sale-block-text-content div {
        margin-top: 26px;
    }
}