@use "base" as *

.faqs
  width: 100%
  @include flex-center
  margin-top: 61px

  &__header 
    @include flex-center
    margin-bottom: 30px

  &__title 
    font-size: $fs-h2
    line-height: 38.4px
    max-width: 198px
    text-align: center
    @include text-normal

  &__content 
    display: flex
    flex-direction: column
    gap: 20px

  &__question 
    cursor: pointer
    @include flex-between
    border-bottom: 1px solid #EDEDED
    padding: 19.8px 0
    gap: 20px

  &__question-content 
    font-size: 20px
    line-height: 30.4px
    @include text-normal

  &__answer 
    font-size: $fs-body
    line-height: 24px
    transition: max-height 0.4s ease, opacity 0.3s ease, margin 0.3s ease
    @include text-normal
    max-height: 0
    opacity: 0
    margin: 0
    overflow: hidden

  &__mark
    position: relative
    width: 18px
    height: 18px

    &::before,
    &::after
      content: ""
      position: absolute
      background: $clr-black
      transition: transform 0.3s ease

    &::before
      top: 50%
      left: 0
      right: 0
      height: 2px
      transform: translateY(-50%)

    &::after
      left: 50%
      top: 0
      bottom: 0
      width: 2px
      transform: translateX(-50%) rotate(0deg)

input[type="radio"]:checked + .faqs__item .faqs__answer
  transition: max-height 0.4s ease-in
  max-height: 500px
  opacity: 1
  margin-top: 17px

input[type="radio"]:checked + .faqs__item .faqs__mark::after
  transform: translateX(-50%) rotate(90deg)

@media (min-width: 768px) 
  .faqs 
    margin-top: 100px

    &__title 
      font-size: 36px
      line-height: 48px
      max-width: 449px

    &__question 
      padding: 31px 0 17px 0

    &__content 
      gap: 11px

    &__question-content 
      font-size: 26px
      line-height: 38px

    &__answer 
      font-size: $fs-body
      line-height: 24px

  input[type="radio"]:checked + .faqs__item .faqs__answer
    margin-top: 18px