@use "base" as *

.footer
  background-color: $clr-footer-bg
  color: $clr-white
  @include flex-center
  flex-direction: column
  text-align: center

  &__container
    display: flex
    flex-direction: column
    align-items: center
    margin-top: $footer-mt
    margin-bottom: $footer-mb

  &__email
    width: 100%
    text-align: center

  &__header
    margin-bottom: $email-mb

  &__title
    font-weight: 400
    font-size: 24px
    line-height: 33.6px
    letter-spacing: 0
    vertical-align: middle
    text-align: left
    color: $clr-white

  &__content
    font-weight: 400
    font-size: $fs-body
    line-height: 24px
    text-align: left
    margin: 11px 0 20px 0

  &__input
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    position: relative

    input
      width: 100%
      padding: 16px
      font-size: $fs-body

    button
      position: absolute
      right: 20px
      top: 19px
      background-image: url("../Assets/send-button.svg")
      background-size: contain
      background-repeat: no-repeat
      height: 100%
      width: 6.25px
      height: 12.5px
      background-color: transparent
      border: none
      cursor: pointer
      filter: invert(0) brightness(0) contrast(100%) grayscale(0) sepia(0)

  &__form .g-recaptcha
    display: flex
    align-items: center
    justify-content: left
    margin-top: 10px

  &__form--error
    color: red
    font-size: 12px
    margin-top: 5px
    display: none
    justify-content: left

  &__media
    display: flex
    justify-content: flex-start
    gap: $media-gap
    margin-top: $media-mt

    a
      width: 24px
      height: 24px

      img
        object-fit: contain

  &__copyright
    display: flex
    justify-content: flex-start
    align-items: center
    margin-top: $copyright-mt

    span
      font-weight: 400
      font-size: $fs-body
      line-height: 24px
      letter-spacing: 0
      text-align: center
      color: rgba($clr-white, 0.8)

  &__underline
    text-decoration: none

@media (min-width: 492px)
  .footer__container
    margin-top: 50px

  .footer__email
    width: 465px

  .footer__title
    font-size: 32px
    line-height: 42px
    text-align: center

  .footer__content
    text-align: center

  .footer__form .g-recaptcha
    justify-content: center

  .footer__form--error
    justify-content: center

  .footer__media
    justify-content: center

  .footer__copyright
    justify-content: center
    align-items: center

  .footer__copyright span
    text-align: left

  .footer__underline
    text-decoration: underline