@use "base" as *

.hero
  width: 100%
  height: $hero-height
  overflow: hidden
  position: relative
  @include flex-center

  &__image
    width: 200%
    height: 200%
    object-fit: cover
    object-position: 65% center
    flex-shrink: 0

  &__content
    position: absolute
    color: $clr-white
    max-width: 352px
    top: 175.8px
    z-index: 2
    text-align: center
    align-items: center

  &__title
    font-size: $hero-slogan-fs
    width: 100%
    display: flex
    align-items: center
    line-height: 76.8px
    margin: 0
    text-align: center
    @include text-normal

  &__descriptiondiv
    margin: 12px 0px 24px 0px

  &__description
    width: 82.4%
    font-size: 18px
    margin: 0 30.84px
    line-height: 30px
    text-align: center
    @include text-normal

  &__button
    color: $clr-hero-btn
    font-size: $fs-body
    border-radius: $border-radius-sm
    text-underline-offset: 8px
    line-height: 24px
    text-align: center
    text-transform: uppercase
    @include text-head

@media (min-width: 768px)
  .hero
    height: 680px

    &__content
      top: auto

    &__title
      font-size: 58px
    
    &__description
      max-width: 352px

@media (min-width: 1024px)
  .hero
    height: 820px

    &__image
      width: 100%
      height: 1200px
      object-position: center

    &__title
      font-size: 68px

    &__description
      margin: 0 40.84px

@media (min-width: 1400px)
  .hero
    height: 1080px
    max-height: 1200px

    &__content
      margin-top: 25px

    &__title
      font-size: 72px
      line-height: 90px

    &__descriptiondiv
      margin: 25px 0px 32px 0px

    &__description
      line-height: 30px