@use "base" as *

.inspiration
  width: 100%
  @include flex-center
  margin-top: $inspiration-mt

  &__container
    display: flex
    justify-content: center
    gap: $inspiration-gap
    flex-wrap: wrap
    margin-top: $inspiration-container-mt
    align-items: center

  &__header
    width: 100%

  &__title
    font-size: $fs-h2
    width: 100%
    text-align: center
    font-weight: 400
    line-height: 38.4px
    letter-spacing: 0
    vertical-align: middle

  &__info-title
    font-size: 20px
    margin: 21px 0px 3px 0px
    font-weight: 400
    line-height: 30.4px
    letter-spacing: 0
    vertical-align: middle

  &__info-title
    text-align: left

  &__info-content
    font-size: $fs-small
    text-align: left
    font-weight: 400
    line-height: 24px
    letter-spacing: 0
    vertical-align: middle

  &__content
    display: flex
    justify-content: flex-start
    flex-wrap: nowrap
    gap: $gap-products
    width: 100%
    scroll-snap-type: x mandatory
    -webkit-overflow-scrolling: touch
    overflow-x: auto
    overflow-y: hidden
    scroll-behavior: smooth

    &::-webkit-scrollbar
      display: none

  &__block
    width: 265px
    flex: 0 0 265px
    scroll-snap-align: start
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

  &__image img
    width: 100%
    height: auto
    object-fit: cover
    display: block

@media (min-width: 492px)
  .inspiration__header
    width: 80%

@media (min-width: 768px)
  .inspiration__header
    width: 60%

@media (min-width: 1400px)
  .inspiration
    margin-top: 20px

    &__container
      gap: 60px
      margin-top: 80px

    &__header
      width: 40%

    &__title
      font-size: 36px
      line-height: 48px
      text-align: center

    &__content
      text-align: left
      gap: 5.8%
      justify-content: center

    &__block
      width: 20.64%
      flex: 0 0 20.64%
      max-width: 291px

    &__info-title
      font-size: 24px
      line-height: 38px
      margin: 16px 0 8px 0

    &__info-content
      font-size: $fs-body
      line-height: 24px