@use "cookies"
@use "header"
@use "hero"
@use "product-grid"
@use "product_slider"
@use "text-carousel"
@use "sale_block"
@use "contact-us"
@use "inspiration"
@use "faqs"
@use "single_banner"
@use "our-service"
@use "contact-shop"
@use "footer"
@use "popup"
@use "base" as *

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: $font-body
  margin: 0
  
html
  scroll-behavior: smooth
  overflow-y: auto

.container
  width: 100%
  margin: 0 auto

.headings
  font-family: $font-headings

@media (prefers-reduced-motion: no-preference)

  [class*="aos-"]
    opacity: 0
    animation-fill-mode: both
    animation-timing-function: ease-out
    animation-duration: 1s

    animation-timeline: view()
    animation-range: entry 20% cover 40%

.aos-fade
  animation-name: aosFade

@keyframes aosFade
  from
    opacity: 0
  to
    opacity: 1

.aos-fade-up
  animation-name: aosFadeUp

@keyframes aosFadeUp
  from
    opacity: 0
    transform: translateY(60px)
  to
    opacity: 1
    transform: translateY(0)