@use "base" as *

.service
  width: 100%
  @include flex-center
  margin: $service-mt-mb 0

  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    gap: $gap-products

  &__box
    width: 100%
    height: $service-height
    flex-direction: row
    justify-content: flex-start
    display: flex
    gap: $service-gap

  &__image img
    width: $service-img-size
    height: $service-img-size
    object-fit: cover

  &__info
    display: flex
    flex-direction: column
    gap: 4px

  &__heading
    color: $clr-black
    font-size: 20px
    line-height: 25.6px
    @include text-normal

  &__content
    font-size: $fs-small
    color: $clr-black
    line-height: 24px
    @include text-normal

@media (min-width: 768px)
  .service__container
    justify-content: space-evenly

  .service__box
    width: 21.8%
    min-width: 300px
    height: 184px
    box-sizing: border-box

  .service__image img
    width: 72px
    height: 72px

  .service__heading
    font-size: 20px
    line-height: 32px

  .service__content
    font-size: $fs-body
    line-height: 24px

@media (min-width: 1024px)
  .service__box
    flex-direction: column
    min-width: 360px

  .service__container
    justify-content: space-evenly
    gap: 10px

@media (min-width: 1400px)
  .service
    margin: 80px 0

    &__info
      gap: 8px

    &__box
      min-width: 184px
      gap: 20px

    &__container
      justify-content: space-between