@use "base" as *

.popup
  position: fixed
  inset: 0
  background: rgba(0,0,0,0.65)
  @include flex-center
  z-index: 10000
  display: none

  &__content
    display: flex
    flex-direction: column
    background: white
    max-width: 300px
    width: 100%
    position: relative
    text-align: center

  &__image
    background-image: url(../Assets/Popup-image.jpg.png)
    background-size: cover
    background-position: center 79%
    width: 100%
    height: 180px

  &__close
    position: absolute
    top: 12px
    right: 8px
    width: 32px
    height: 32px
    background: url("../Assets/Button-Close.svg") no-repeat center
    background-size: contain
    border: none
    cursor: pointer
    padding: 0

  &__overlay
    position: fixed
    inset: 0
    cursor: pointer

  &__text
    padding: 24.5px 27.6px

  &__sale-container
    margin: 3px 0 14px

  &__sale-content, &__sale-message
    font-size: $fs-h3
    line-height: 42px
    text-align: center
    @include text-normal

  &__sale-50,
  &__sale-date
    font-size: $fs-h1
    line-height: 42px
    text-align: center
    @include text-normal

  &__sale-app
    @include flex-center

  &__sale-app p
    font-size: $fs-small
    line-height: 24px
    text-align: center
    max-width: 210px
    @include text-normal

  &__sale-message
    padding: 40px 0
    margin: auto

#discount-toggle:checked ~ .popup
  display: flex

#success-toggle:checked ~ #popup-success
  display: flex

#error-toggle:checked ~ #popup-error
  display: flex

@media (min-width: 768px)
  .popup__content
    flex-direction: row
    text-align: left
    max-width: 880px
    margin-left: 20px
    margin-right: 20px

  .popup__image
    max-width: 420px
    height: 396px

  .popup__close
    top: 12px
    right: 12px
    width: 48px
    height: 48px

  .popup__text
    height: 396px
    max-width: 460px
    min-width: 388px
    width: 55%
    padding: 9.2%

  .popup__sale-content,
  .popup__sale-message
    font-size: $fs-h1
    line-height: 56px

  .popup__sale-50, .popup__sale-date
    font-size: 36px
    line-height: 56px

  #popup-success .popup__content
    max-width: 800px

  #popup-error .popup__content
    max-width: 782px