@use "base" as *

.products
  width: 100%
  @include flex-center
  margin-top: 47.3px

  &__container
    width: $container-width-wide

  &__header
    @include flex-between
    text-align: center
    gap: 32px
    margin-bottom: 32.59px
    flex-wrap: wrap
    width: 100%

  &__title
    font-size: $fs-h2
    align-items: center
    font-weight: 400
    line-height: 38.4px
    vertical-align: middle
    color: $clr-black
    margin: 0
    letter-spacing: 0
    width: 100%

  &__tabs
    display: inline-flex
    line-height: 1
    align-items: center
    justify-content: flex-start
    gap: $gap-tabs
    height: $tab-height
    width: 100%
    flex-wrap: nowrap
    overflow-x: auto
    overflow-y: hidden
    scroll-snap-type: x mandatory
    scroll-behavior: smooth
    -webkit-overflow-scrolling: touch
    -ms-overflow-style: none
    margin: 0 4.17%

    &::-webkit-scrollbar
      display: none

  &__tab
    font-family: $font-body
    @include reset-button
    font-size: $fs-body
    cursor: pointer
    text-underline-offset: 7px
    @include text-normal
    line-height: 24px
    text-align: center
    text-transform: uppercase
    padding: 0
    scroll-snap-align: start

  input[type="radio"]
    position: absolute
    opacity: 0
    pointer-events: none

  &__grid
    display: none

  &__item
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    max-width: $product-max-width

    &--tall
      display: grid
      grid-template-columns: repeat(2, minmax(0, 1fr))
      gap: 2.225%

    &--wide
      display: flex
      flex-direction: column

  &__card
    position: relative
    display: flex
    flex-direction: column
    height: 100%

  &__image
    width: 100%
    overflow: hidden
    margin-bottom: $product-image-mb

    img
      width: 100%
      height: 100%
      display: block
      object-fit: fill

  &__item--wide &__image
    aspect-ratio: calc(360 / 235)

  &__item--tall &__image
    aspect-ratio: calc(176 / 235)

  &__tag
    font-size: $fs-small
    color: $clr-white

    &--selling
      @include tag-selling

    &--new
      @include tag-new

    &--sale
      @include tag-sale

  &__info
    @include product-info

#tab-seating:checked ~ .products__header .products__tab[for="tab-seating"],
#tab-table:checked ~ .products__header .products__tab[for="tab-table"],
#tab-storage:checked ~ .products__header .products__tab[for="tab-storage"],
#tab-lighting:checked ~ .products__header .products__tab[for="tab-lighting"],
#tab-decor:checked ~ .products__header .products__tab[for="tab-decor"]
  text-decoration: underline
  font-weight: 500

#tab-seating:checked ~ .products__grid--seating,
#tab-table:checked ~ .products__grid--table,
#tab-storage:checked ~ .products__grid--storage,
#tab-lighting:checked ~ .products__grid--lighting,
#tab-decor:checked ~ .products__grid--decor
  display: grid
  gap: $gap-products
  justify-content: center
  align-items: stretch

@media (min-width: 492px)
  .products__tabs
    justify-content: center

@media (min-width: 768px)

  #tab-seating:checked ~ .products__grid--seating,
  #tab-table:checked ~ .products__grid--table,
  #tab-storage:checked ~ .products__grid--storage,
  #tab-lighting:checked ~ .products__grid--lighting,
  #tab-decor:checked ~ .products__grid--decor
    grid-template-columns: repeat(2, 1fr)
    row-gap: 29.4px
    column-gap: 10px
    justify-items: center

  .products__item
    max-width: 700px

  .products__item--tall
    gap: 1.43%

  .products__item:nth-child(1),
  .products__item:nth-child(3)
    justify-self: end

  .products__item:nth-child(2),
  .products__item:nth-child(4)
    justify-self: start

  .products__item--wide .products__image
    aspect-ratio: calc(700 / 460)

  .products__item--tall .products__image
    aspect-ratio: calc(345 / 460)

@media (min-width: 1024px)

  .products__container
    width: $container-width-narrow

  .products
    margin-top: 5.2%

  .products__header
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0 auto 40px
    max-width: 1410px
    gap: 0

  .products__title
    font-size: 36px
    line-height: 48px
    width: auto
    flex: 0 0 50%
    text-align: left

  .products__tabs
    font-weight: 500
    justify-content: flex-end
    width: 21.7%
    padding: 0
    margin: 0
    gap: 6%
    overflow: visible
    flex: 0 0 50%

  .products__tag--sale
    padding: 11px 8.6px